<h1>Listing articles</h1>
<%= link_to 'New article', new_article_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="3"></th>
  </tr>

  <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.text %></td>
        <td><%= link_to 'Show', article_path(article) %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article_path(article),
                        method: :delete, data: { confirm: 'Are you sure?', foo: 'bar' }, class: 'rama_del_tamarindo' %></td>
        <!-- El atributo data-foo y la clase CSS rama_del_tamarindo son de prueba. Las escribí para que me quedara
        claro el uso de los parámetros en el método link_to -->
      </tr>
  <% end %>
</table>